<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/style1.css">
</head>
<body>
<br/>
<H1></H1>
<h1><center>welcome to Vintage {{user["name"]}}</center></h1>
<H3><center>Here you can find the most cute and fun accessories, and most importantly, for a cheap price!</center></H3>

<div class="topnav"><center>

<a href='{{url_for( "Home" )}}'>Home</a>
<a href='{{url_for("Product")}}'>Products</a>

  <input type="text" placeholder="Search..">
</center></div> 
<br/>
<h1><center>Trending!</center></h1>
<div class="box">
<br/>
<img src="static/bracelets2.jpg" >
<h2>an elegant gold snake shaped bracelet</h2>
<button class="button">Add To Cart</button>
</div>

<br/>

<div class="box">
<br/>
<img src="static/necklace2.jpg" >
<h2>a simple yet fun stars gold necklace</h2>
<button class="button">Add To Cart</button>
</div>

<br/>

<div class="box">
<br/>
<img src="static/ring2.jpg" >
<h2>a butterfly gold rings package</h2>
<button class="button">Add To Cart</button>
</div>



</body>
</html>