<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet" href="static/style1.css">
</head>
<body>
<br/>
<h1><center>Vintage</center></h1>
<H3><center>Here you can find the most cute and fun accessories, and most importantly, for a cheap price!</center></H3>
<div class="topnav"><center>

  <a href='{{url_for( "Home" )}}'>Home</a>
  <a href='{{url_for("Product")}}'>Products</a>

  <input type="text" placeholder="Search..">
</center></div> 

<br/>
<h1><center>Catagories</center></h1>
<div class="box">
<br/>
<img src="static/bracelets.jpg" >
<h2>braclets</h2>
</div>

<br/>

<div class="box">
<br/>
<img src="static/necklace.jpg" >
<h2>necklaces</h2>
</div>

<br/>

<div class="box">
<br/>
<img src="static/ring.jpg" >
<h2>rings</h2>
</div>

</body>
</html>