<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" href="static/style.css">
</head> 
<body style="text-align:center">
<div class="overlay">
<!-- LOGN IN FORM by Omar Dsoky -->
<form>
   <!--   con = Container  for items in the form-->
   <div class="con">
   <header class="head-form">
      <h2>Log In</h2>
      <p>login here in order to enjoy our products!</p>
   </header>
   <div class="field-set">
      <!--   user name -->
         <span class="input-item">
           <i class="fa fa-user-circle"></i>
         </span>
        <!--   user name Input-->
         <input class="form-input" id="txt-input" type="text" placeholder="Username" required>
      <br>
           <!--   Password -->
      <span class="input-item">
        <i class="fa fa-key"></i>
       </span>
      <!--   Password Input-->
      <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>
<!--      button LogIn -->
      <button class="log-in"> Log In </button>
      <button class="log-in">Sign Up </button>
   </div>
   </div>
</form>
</div>
</body>
</html>